@font-face {
  font-family: 'Magnific Chaos';
  src: url('../assets/fonts/MagnificChaosPersonalUseRegular-x3J88.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.custom-font-text {
  font-family: 'Magnific Chaos', sans-serif;
}