* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* shipping table */
.ship {
   width:10vw
}

.hist {
    width:12vw
 }

 .histValue {
    width:12vw
 }

 .pros {
    width:30vw
 }

 .pros div {
   
    width:9vw;
    background-color: lightgreen;
 }


 .prosMach {
    width:30vw
 }

 .prosMach div {
   
    width:6vw;
    background-color: lightgreen;
 }

 
 .chan {
    width:45vw
 }

 .chan div {   
    width: 8vw;
    border: 1px solid grey;    
    
 }

 .yesHighlight {
    background-color: lightcoral ;
 }

 .selection{
   width:20vw
 }

 .res1 {
   width:40vw
}

.res1 div {   
   width:10vw;
   border: 1px solid grey;    
   
}

.res2 {
   width:40vw;
   margin-top: 16px;
}

.res2 div {   
   width:8vw;
   border: 1px solid grey;    
   
   
}

.deta {
   width:90vw
}
.deta div {   
   width:10vw;
   border: 1px solid grey;    
   
}

.deta2 {
   width:90vw
}
.deta2 div {   
   width:6vw;
   border: 1px solid grey;    
   
}

.rang {
   width:20vw;
   margin-top: 16px;
}

.rang div {   
   /* width:8vw; */
   /* border: 1px solid grey;     */
   
   
}

.dt1>div>div{
   border: 1px solid black;
   padding: 5px;
}

.dt1f1{
   width: 5vw;

}

.dt1f2{
   width: 21vw;
}


.dt2>div{
   border: 1px solid black;
   padding: 5px;
}
.dt2f1{
   width: 10vw;

}

.dt2f2{
   width: 10vw;
}